*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f6f8;
  color: #1f2933;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#root {
  min-height: 100vh;
}
